@model List<Streamliner.Models.TaskItem>
@{
    ViewData["Title"] = "Task List";
}
@foreach (var t in Model)
{
    @:Task: @t.Description <br />
    @:Category: @t.Category <br />
    foreach (var k in t.Kiddos)
    {
        @:Kiddo: @k.Name <br />
    }
    <a asp-action="Edit" asp-route-id="@t.TaskID" class="btn btn-primary">Edit</a>
    <a asp-action="Delete" asp-route-id="@t.KiddoID" class="btn btn-danger">Delete</a>
    <br />
}
